@import url('https://fonts.googleapis.com/css?family=Monoton');

.jumbotron {
  font-family: Monoton;
  font-size: 140px;
  color: white;
  background: inherit;
  text-align: center;
}
body {
  background: url("../img/pizza.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

#orderOnWay {
  display: none;
}

#yourOrder {
  display: block;
}

h1, h2, h3, h4, h5 {
  font-family: sans-serif;
  color: #12a501;
}

p, label, ul, span {
  font-size: 20px;
  color: gray;
}

#checkbox {
  color: gray;
}

.panel {
  height: 800px;
}

.btn {
  color: #12a501;
  font-size: 22px;
  height: 50px;
  text-align: center;
}

.deliveryGuy {
  width: 100%;
  height: 500px;
  background-image: url("../img/delivery.jpg");
  background-size: cover;
}
